/* Global Styles */

*{
   margin: 0;
   padding: 0;
}
body{
   font-family: 'Raleway', sans-serif;
   letter-spacing: 1px;
   line-height: 1.5;
   background: #f7f7f7;
}
ul{
   list-style-type: none;
}
a{
   text-decoration: none;
}
.wrap-container{
   width: 80%;
   margin: 0 auto;
}

/* Header Styles */

header{
   background: #293241;
   padding: 10px;
   min-height: 50px;
}
header h1{
   float: left;
   color: #C5E5F4;
   cursor: pointer;
}
header h1 span{
   color: #cccccc;
}
header nav{
   float: right;
   margin-top: 16px;
}
header nav ul li{
   display: inline;
   margin-left: 16px;
}
header nav a{
   color: #f7f7f7;
   text-transform: uppercase;
   font-weight: bold;
}
header .current{
   color: #C5E5F4;
}
header:after{
   content: "";
   display: block;
   clear: both;
}

/* showcase/banner styles */

#banner{
   background: url('../img/showcase.jpg')no-repeat center;
   background-size: cover;
   background-attachment: fixed;
   min-height: 500px;
}
#banner h1{
   font-size: 48px;
   margin-top: 100px;
   display: inline-block;
   line-height: 1.2;
}
#banner p{
   margin-top: 12px;
   font-size: 28px;
   line-height: 1.2;
}
#banner .btn{
   padding: 15px;
   font-size: 16px;
   background: #5685bb;
   color: #f7f7f7;
   margin-top: 24px;
   border-radius: 25px;
   width: 120px;
   text-align: center;
   font-weight: lighter;
}
#banner .btn:hover{
   background: #3D5A80;
   font-weight: bold;
}
#banner .btn a{
   color: #f7f7f7;
}

/* services styles */
#services{
   color: #1e1e1e;
}
#services h2{
   padding: 50px 0;
   font-size: 28px;
   text-align: center;
}
.boxes{
   margin: 0 auto;
}
.box{
   display: inline-block;
   width: 45%;
   text-align: center;
   padding: 0 2%;
   margin: 24px 0 48px;

}
.box h3{
   margin: 24px auto;
}

/* contact/get in touch */

#contact{
   background: rgba(42, 51, 66, 0.98);
   padding: 10px;
}
#contact:after{
   content: "";
   display: block;
   clear: both;
}
#contact h2{
   margin-top: 50px;
   margin-bottom: 50px;
   text-align: center;
   font-size: 36px;
   color: #f7f7f7;
}
#contact form{
   float: left;
   margin-left: 100px;
}
#contact input, #contact textarea {
   padding: 10px 10px 10px 20px;
   font-size: 16px;
   width: 300px;
   display: block;
   margin-bottom: 12px;
   background: rgba(0, 0, 0, 0.3);
   border: 1px solid rgba(255, 255, 255, 0.5);
   border-radius: 20px;
   color: #eeeeee;
}
#contact button{
   padding: 12px;
   font-size: 16px;
   width: 150px;
   background: #5685bb;
   border: 1px solid rgba(255, 255, 255, 0.5);
   border-radius: 20px;
   color: #eeeeee;
   cursor: pointer;
}
#contact button:hover{
   background: #3D5A80;
   font-weight: bold;
}
.brief-about{
   color: #f7f7f7;
   width: 40%;
   float: left;
   margin-left: 150px;
}
.brief-about p{
   margin-top: 24px;
   font-size: 14px;
}
.social-icons{
   float: left;
   margin-left: 150px;
   margin-top: 100px;
}
.social-icons i{
   display: inline-block;
   font-size: 28px;
   margin-right: 24px;
   color: #f7f7f7;
   cursor: pointer;
   transition: all ease-in-out 0.3s;
}
.social-icons i:first-child:hover{
   color: #5685bb;
}
.social-icons i:nth-child(2):hover{
   color: #59bffa;
}
.social-icons i:nth-child(3):hover{
   color: #ffb74b;
}
.social-icons i:last-child:hover{
   color: #ff3c3c;
}

footer{
   clear: both;
   background: #293241;
   padding: 18px;
   color: #f7f7f7;
   text-align: center;
   border-top: 1px solid #222933;
}
#fixed-back-to-top{
   position: fixed;
   background: #293241;
   border: 1px solid #f7f7f7;
   bottom: 30px;
   right: 50px;
   z-index: 999;
   padding: 15px;
   cursor: pointer;
}
#arrow-up{
   width: 0; 
   height: 0; 
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-bottom: 10px solid #f7f7f7;
}

/* smaller than 768px */
@media screen and (max-width: 768px){
   header h1,
   header nav,
   header nav li{
      float: none;
      width: 100%;
      text-align: center;
   }
   header h1{
      font-size: 24px;
   }
   header nav{
      margin-top: 0;
   }
   header nav ul li{
      font-size: 14px;
      margin: 6px 3px;
   }
   #banner{
      text-align: center;
   }
   #banner h1{
      font-size: 28px;
      margin-top: 120px;
   }
   #banner p{
      font-size: 16px;
   }
   #banner .btn{
      margin: 24px auto;
      padding: 12px;
      font-size: 12px;
   }

   #services h2{
      font-size: 24px;
      padding: 24px 0;
   }
   .boxes{
      margin: 0 auto;
   }
   .box{
      width: 100%;
      font-size: 14px;
      margin: 0 auto 24px;
   }
   .box img{
      height: 120px;
      width: 120px;
   }
   #contact h2{
      margin-top: 36px;
      margin-bottom: 36px;
      font-size: 24px;
   }
   #contact form{
      float: none;
      margin: 0 auto;
      width: 100%;
   }
   #contact input{
      padding: 10px 5%;
      font-size: 14px;
      width:90%;
      display: block;
      margin: 0 auto 8px;
   }
   #contact textarea{
      padding: 10px 5%;
      font-size: 14px;
      width: 90%;
      display: inline-block;
   }
   #contact button{
      padding: 8px;
      font-size: 14px;
      width: 100%;
      display: block;
      margin: 0 auto;
   }
   .brief-about{
      float: none;
      width: 90%;
      margin: 0 auto;
   }
   .brief-about h3{
      font-size: 16px;
      margin: 36px auto;
      text-align: center;
   }
   .brief-about p{
      margin-top: 24px;
      font-size: 14px;
      text-align: center;
   }
   .social-icons{
      float: none;
      margin: 50px auto 25px;
      text-align: center;
   }
   .social-icons i{
      font-size: 24px;
      text-align: center;
      margin: 0 6px;
   }
   footer p{
      font-size: 12px;
   }
   #fixed-back-to-top{
      bottom: 60px;
      right: 30px;
      padding: 10px;
   }
   #arrow-up{
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #f7f7f7;
   }
}

/* larger than 768px */
@media screen and (min-width: 769px){
   header h1{
      font-size: 20px;
      padding: 10px;
   }
   header nav ul li{
      font-size: 12px;
      margin-left: 12px;
   }
   
   #banner h1{
      font-size: 28px;
      margin-top: 120px;
   }
   #banner p{
      font-size: 16px;
   }
   #banner .btn{
      margin: 20px 0;
      padding: 10px;
      font-size: 12px;
   }
   #services h2{
      font-size: 22px;
      padding: 20px 0;
   }
   .box{
      font-size: 16px;
   }
   .box img{
      height: 120px;
      width: 120px;
   }
   #contact h2{
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 22px;
   }
   #contact form{
      float: left;
      margin: 0;
      width: 35%;
   }
   #contact input, #contact textarea {
      display: inline-block;
      padding: 10px 20px;
      font-size: 14px;
      width: 100%;
   }
   #contact button{
      padding: 8px;
      font-size: 14px;
   }
   
   .brief-about{
      width: 35%;
      float: left;
      margin-left: 120px;
   }
   .social-icons{
      margin-left: 120px;
   }
   .social-icons i{
      font-size: 24px;
      margin-right: 20px;
   }
   
   footer{
      padding: 14px;
      color: #f7f7f7;
      text-align: center;
      font-size: 14px;
   }
   #fixed-back-to-top{
      bottom: 30px;
      right: 50px;
      padding: 12px;
   }
   #arrow-up{
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #f7f7f7;
   }
}